*{
    margin: 0;
    padding: 0;
}
html{
    height:  100%;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    background: rgb(19, 74, 121);
    background: linear-gradient(180deg, rgba(19,74,121,1) 0%, rgba(67,28,134,1) 50%, rgba(77,34,134,1) 100%);
}


.avatar{
    width: 80px;
    border-radius: 100px;
    border: 3px solid indigo;
    box-shadow: 0 0 20px white;
    
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2px;    
}

h2{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 16px;
    margin-top: 2px;
}

.profile{
    margin-top: 20px;
    text-align: center;
}


.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0;
}

.social img{
    width: 48px;
   
}

.social a{
    text-decoration: none;
}


.list-links{
    
    list-style: none;
    
}

.list-links li{
    margin: 10px 20px;
    
}

.list-links li a{
    display: block;
    background: #ffff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: indigo;
    font-weight: bold;
}

.list-links li a span{
    color: gray;
    display: block;
    margin-top: 10px;
}